.todo-list {
  padding-left: 0;
  user-select: none;
}

.todo-list__item {
  list-style: none;
  cursor: pointer;
}

.todo-list__item-checkbox {
  display: none;
}

.todo-list__item-label {
  cursor: pointer;
}

.todo-list__item-text {
  margin-left: 0.3em;
}

.todo-list__icon--hidden {
  display: none;
}
