.filter-toggle {
  user-select: none;
  font-size: 0.8em;
  margin-bottom: 1.5em;
}

.filter-toggle__label {
  cursor: pointer;
}

.filter-toggle__checkbox {
  display: none;
}

.filter-toggle__text {
  cursor: pointer;
  font-style: italic;
}
