.todo-list-item {
  list-style: none;
  cursor: pointer;

  &__checkbox {
    display: none;
  }

  &__label {
    cursor: pointer;
    user-select: none;
  }

  &__text {
    margin-left: 0.3em;
    user-select: none;

    &--done {
      text-decoration-line: line-through;
    }
  }
}
