@import '../node_modules/normalize.css/normalize.css';
@import '../node_modules/@fortawesome/fontawesome-free/css/all.css';

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  font-size: 20px;
}
